<h2 mat-dialog-title>ADD TASK</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%;">
        <mat-label>Task</mat-label>
        <textarea matInput #tasInput required></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Deadline (Optional)</mat-label>
        <input matInput [matDatepicker]="deadlineepicker" (dateChange)="deadlineChanged($event)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="deadlineepicker"></mat-datepicker-toggle>
        <mat-datepicker #deadlineepicker>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" (click)="applyDeadlineDate()"
                    matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>

    <section>
        <mat-checkbox class="margin" [(ngModel)]="isChecked" (change)="onCheckboxChange()">Mark as
            checked</mat-checkbox>
    </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onSubmit()" [disabled]="isSubmitting">
        <span *ngIf="!isSubmitting">Submit</span>
        <span *ngIf="isSubmitting">Submitting...</span>
        <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>